body {
    background: snow;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 180px;
    height: 100vh;
    background-color: rgb(0, 109, 109);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: snow;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    position: fixed;
    overflow-y: auto;
}

.logo {
    width: 100%; 
    height: auto;
    margin-bottom: 40px;
}

.sidebar nav ul {
    padding: 0 5px;
    margin: 0;
    list-style-type: none;
}


.sidebar nav ul li a {
    color: snow;
    text-decoration: none;
    display: block;
    padding: 5px;
    text-align: left;
}

.sidebar nav ul li a:hover{ 
    background-color: rgb(0, 89, 89);
}

.container {
    flex-grow: 1;
    padding: 20px;
    margin-left: 280px;
    margin-right: 80px;
    margin-top: 45px;
}

h1, h2, h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333333;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
    color: rgb(222, 79, 18);
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
}

p {
    margin-bottom: 10px;
}

form {
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: none;
    max-width: 400px;
    margin: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="username"],
form input[type="password"],
form input[type="date"],
select,
option,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: sans-serif;
    color: #333333;
}

textarea {
    height: 150px;
    margin-bottom: 10px;
}

button[type="submit"],
form input[type="submit"], 
button.btn-go-to[type="submit"] {
    background: #1c0993;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    align-self: flex-end;
    margin-top: 10px;
    cursor: pointer;
}

button.btn-go-to[type="submit"] {
    margin-top: 5px;
}

button[type="submit"]:hover,
form input[type="submit"]:hover, 
button.btn-go-to[type="submit"]:hover {
    background: #0f0459;
    color: #fff;
}

button.btn-add-to[type="submit"] {
    background: rgb(127, 3, 155);
}

button.btn-add-to[type="submit"]:hover {
    background: rgb(75, 4, 91);
}

button.btn-mark-sent[type="submit"], 
form input.save[type="submit"]{
    background: rgb(2, 161, 26);
}

button.btn-mark-sent[type="submit"]:hover,
form input.save[type="submit"]:hover {
    background: rgb(1, 115, 18);
}

button.btn-edit[type="submit"] {
    background: rgb(222, 79, 18);
}

button.btn-edit[type="submit"]:hover {
    background: rgb(181, 56, 3);
}

button.btn-delete, 
form input.delete[type="submit"] {
    background: rgb(202, 0, 30);
}

button.btn-delete:hover,
form input.delete[type="submit"]:hover {
    background: rgb(160, 6, 21);
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 0;
}

.button-container form{
    display: inline-block;
    margin: 0;
    margin-top: 0;
}

.error {
    color: crimson;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

.success {
    color: #089803;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;}

.hidden {
    display: none;
}

.form-comment,
.form-add-to,
.form-edit 
.form-remove-from {
    border: none;
    background: transparent;
}

.form-comment textarea {
    width: 100%;
    height: 80px;
    padding: 10px; 
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.header-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-time-comment {
    font-size: 0.8em;
    color: #333333;
}

.term {
    font-weight: bold;
    margin-top: 10px;
}

.understated-link {
    color: #333333;
}