{% extends "layout.html" %}

{% block title %}Add climb | Hyped - Log your sends and discover new projects{% endblock %}
    
{% block content %}
    <div class="container">
        <h1>Add a new climb</h1>
        <p>Fill in the following fields. All fields are required.</p>
        <form action="/add-climb" method="post">
            <label for="crag_id">Crag:</label>
            <select id="crag_id" name="crag_id" required>
                <option value="" disabled selected>Select crag</option>
                {% for crag in all_crags %}
                <option value="{{ crag.id}}">{{ crag.crag_name}}</option>
                {% endfor %}
            </select>
            <label for="climb_name">Climb name:</label>
            <input type="text" id="climb_name" name="climb_name" maxlength="50" placeholder="Something awesome and not too rude, please" required>
            <label for="difficulty">Difficulty:</label>
            <input 
            type="text" 
            id="difficulty" 
            name="difficulty" 
            pattern="^[3-9]([a-cA-C]?[\+\-]?)?$"
            title="Use the Fontainebleau grading from 3 up e.g. 7A+ for boulder and 7a+ for sport/trad"
            placeholder="e.g. 3, 6a, 7B, 8a+" 
            required>
            <label for="climb_type">Type:</label>
            <select id="climb_type" name="climb_type" required>
                <option value="" disabled selected>Select type</option>
                <option value="boulder">boulder</option>
                <option value="DWS">DWS</option>
                <option value="sport">sport</option>
                <option value="trad">trad</option>
            </select>
            <label for="climb_description">Climb description:</label>
            <textarea id="climb_description" name="climb_description" maxlength="1000" placeholder="e.g. Overhanging. Sit-start from the jug..." required></textarea>
            <label for="first_ascent">First ascent:</label>
            <input type="text" id="first_ascent" name="first_ascent" maxlength="50" placeholder="Name" required>
            <input type="submit" class="save" value="Add climb">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
{% endblock %}
