<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ climb_details.climb_name }} | Hyped - Log your sends and discover new projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <header>
        <a href="/home"><img src="/static/Hyped_logo_w265x155.png" alt="Hyped Logo" class="logo"></a>
    </header>
    <div class="container">
        <h1>{{ climb_details.climb_name }}, {{ climb_details.difficulty }}</h1> 
        <p>
            <span>&#x2022;</span>
            {{ climb_details.climb_description }}
        </p>
        Crag: <b>{{ climb_details.crag_name }}</b><br>
        Type: <b>{{ climb_details.climb_type }}</b><br>
        Logged sends: <b>{{ send_count }}</b><br>
        First ascent: <b>{{ climb_details.first_ascent }}</b><br>
        <a href="/log-send/{{ climb_details.id }}">Log as sent</a>
        <hr> 
        <h2>Comments</h2>
        <hr>
        <!-- Add a new comment -->
        <form class="comment-form" action="/climbs/{{ climb_details.id }}" method="post">
            <textarea id="content" name="content" maxlength="1000" placeholder="Comment on the climb" required></textarea>
            <input type="submit" value="Post comment">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        <hr> 
        {% for comment in comments %}
        <div class="comment-header">
            <h3>{{ comment.username }}</h3>
            <span class="comment-date-time">{{ comment.creation_date }} at {{ comment.creation_time }}</span>
        </div>
        <p>{{ comment.content }}</p>
        <!-- Delete your own comment -->
        {% if comment.user_id == current_user or admin %}
        <form class="comment-form" action="/delete-comment/{{ comment.id }}" method="post">
            <button type="submit" class="delete">Delete</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% endif %}
        <hr> 
        {% endfor %}
        <h2>Sends</h2>
        <hr> 
        {% for send in sends %}
        <h3>{{ send.username }}</h3>
        Send date: <b>{{ send.send_date }}</b><br>
        Send type: <b>{{ send.send_type }}</b><br>
        Rating: <b>{{ send.rating }}</b><br>
        Review: <b>{{ send.review }}</b><br>
        <hr> 
        {% endfor %}
    </div>
</body>
</html>