{% extends "layout.html" %}

{% block title %}{{ climb_details.climb_name }} | Hyped - Log your sends and discover new projects{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ climb_details.climb_name }}, {{ climb_details.difficulty }}</h1> 
        <p>
            <span>&#x2022;</span>
            {{ climb_details.climb_description }}
        </p>
        <hr> 
        <h2>Climb information</h2> 
        <hr> 
        <p>
            Crag: <b><a href="/crags/{{ climb_details.crag_id}}" class="understated-link">{{ climb_details.crag_name }}</a></b><br>
            Type: <b>{{ climb_details.climb_type }}</b><br>
            First ascent: <b>{{ climb_details.first_ascent }}</b><br>
            <br>
            Ticked by <b>{{ tick_count }}</b> user(s)<br>
            Sent by <b>{{ send_count }}</b> user(s)<br>
            Average rating (0&ndash;3): <b>{{ avg_rating }}</b><br>
            <br>
            Added to your ticklist: <b>{{ tick_date }}</b><br>
            Your send date: <b>{{ send_date }}</b>
        </p>
        <div class="button-container">
            <!-- If climb on ticklist, show "Remove from tick-list", else show "Add to tick-list" button -->
            {% if on_ticklist and not is_climbed %}
            <form class="form-remove-from" action="/remove-from-ticklist/{{ climb_details.id }}" method="post">
                <button type="submit" class="btn-delete">Remove from tick-list</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {% elif not on_ticklist and not is_climbed %}
            <form class="form-add-to" action="/add-to-ticklist/{{ climb_details.id }}" method="post">
                <button type="submit" class="btn-add-to">Add to tick-list</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {% endif %}
            <!-- If climb is sent, show "Edit send" and "Delete send", else show "Log as sent" button -->
            {% if not is_climbed %}
            <form action="/log-send/{{ climb_details.id }}" method="get">
                <button type="submit" class="btn-log-sent">Log as sent</button>
            </form>
            {% else %}
            <form class="form-edit" action="/edit-send/{{ climb_details.id }}" method="get">
                <button type="submit" class="btn-edit">Edit send</button>
            </form>
            
            <form class="form-delete" action="/delete-send/{{ climb_details.id }}" method="post">
                <button type="submit" class="btn-delete" onclick="return confirm('Are you sure you want to delete the send?')">Delete send</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
        <ul> 
            {% for category, message in messages %} 
            <li class="{{ category }}">{{ message }}</li> 
            {% endfor %} 
        </ul> 
        {% endif %} 
        {% endwith %}
        <hr> 
        <h2>Comments</h2>
        <hr>
        <!-- Add a new comment -->
        <form class="form-comment" action="/climbs/{{ climb_details.id }}" method="post">
            <textarea id="content" name="content" maxlength="1000" placeholder="Comment on the climb" required></textarea>
            <input class="form-btn" type="submit" value="Post comment">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        <hr> 
        {% for comment in comments %}
        <div class="header-comment">
            <h3>{{ comment.username }}</h3>
            <span class="date-time-comment">{{ comment.creation_date }} at {{ comment.creation_time }}</span>
        </div>
        <p>
            &quot{{ comment.content }}&quot
        </p>
        <!-- Delete your own comment -->
        {% if comment.user_id == current_user or admin %}
        <form class="form-comment" action="/delete-comment/{{ comment.id }}" method="post">
            <button type="submit" class="btn-delete" onclick="return confirm('Are you sure you want to delete the comment?')">Delete</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% endif %}
        <hr> 
        {% endfor %}
        <h2>Sends</h2>
        <hr> 
        {% for send in sends %}
        <h3>{{ send.username }}</h3>
        <p>
            Send date: <b>{{ send.send_date }}</b><br>
            Send type: <b>{{ send.send_type }}</b><br>
            Rating: <b>{{ send.rating }}</b><br>
            Review: "{{ send.review }}"<br>
        </p>
        <hr> 
        {% endfor %}
    </div>
{% endblock %}
