{% extends "layout.html" %}

{% block title %}{{ crag_details.crag_name }} | Hyped - Log your sends and discover new projects{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ crag_details.crag_name }}</h1> 
        <p>
            <span>&#x2022;</span>
            {{ crag_details.crag_description }}
        </p>
        <hr> 
        <h2>Crag information</h2> 
        <hr> 
        <p>
            Number of climbs: <b>{{ climb_count }}</b><br>
            Highest grade: <b>{{ max_min.max_grade }}</b><br>
            Lowest grade: <b>{{ max_min.min_grade }}</b><br>
            <br>
            Latitude: <b>{{ crag_details.latitude }}</b><br>
            Longitude: <b>{{ crag_details.longitude }}</b><br>
            Managed by: <b>{{ crag_details.manager }}</b><br>
            <br>
            Marked favourite by <b>{{ fav_count}}</b> user(s)
        </p>
        <!-- If crag in favourites, show "Remove from favourites", else show "Add to favourites" button -->
        {% if is_favourite %}
        <form class="form-remove-from" action="/remove-from-favourites/{{ crag_details.id }}" method="post">
            <button type="submit" class="btn-delete">Remove from favourites</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% else %}
        <form class="form-add-to" action="/add-to-favourites/{{ crag_details.id }}" method="post">
            <button type="submit" class="btn-add-to">Add to favourites</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
        <ul> 
            {% for category, message in messages %} 
            <li class="{{ category }}">{{ message }}</li> 
            {% endfor %} 
        </ul> 
        {% endif %} 
        {% endwith %}
        <hr> 
        <h2>Climbs at the crag</h2>
        <hr> 
        {% for climb in climbs_at_crag %}
        <h3> {{ climb.climb_name }}, {{ climb.difficulty }}</h3>
        <p>
            <span>&#x2022;</span>
            {{ climb.climb_description }}<br>
            <br>
            Type: <b>{{ climb.climb_type }}</b><br>
            First ascent: <b>{{ climb.first_ascent }}</b>
        </p>
        <form action="/climbs/{{ climb.id }}" class="btn-go-to" method="get">
            <button type="submit">Go to climb</button>
        </form>
        <hr> 
        {% endfor %}
    </div>
{% endblock %}
