<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | Hyped - Log your sends and discover new projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="sidebar">
        <a href="/home"><img src="/static/Hyped_logo_w265x155.png" alt="Hyped Logo" class="logo"></a>
        <nav>
            <ul>
                <li><a href="/favourites">Favourite crags</a></li>
                <li><a href="/ticklist">Tick-list</a></li>
                <li><a href="/logged-sends">Logged sends</a></li>
            </ul>
            <br>
            <ul>
                <li><a href="/crags">Browse all crags</a></li>
                <li><a href="/climbs">Browse all climbs</a></li>
                <li><a href="/random">Random crag &amp; climb</a></li>
            </ul>
            <br>
            {% if admin %}
            <ul>
                <li><a href="/add-crag">Add crag</a></li>
                <li><a href="/add-climb">Add climb</a></li>
            </ul>
            <br>
            {% endif %}
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h3>Oh no, an error has occurred!</h3>
        <p>{{ message }}</p>
    </div>
</body>
</html>