<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <header>
        <img src="static/Hyped_logo_w265x155.png" alt="Hyped Logo" class="logo">
    </header>
    <div class="container">
        <h3>Oh no, an error has occurred!</h3>
        <p>{{ message }}</p>
    </div>
</body>
</html>