{% extends "layout.html" %}

{% block title %}Favourite crags | Hyped - Log your sends and discover new projects{% endblock %}

{% block content %}
    <div class="container">
        <h1>Favourite crags</h1> 
        <h2 class="hidden">Favourite crags</h2> <!-- Hidden heading to not skip a heading tag -->
        <p>Here is a list of your favourite crags, so you won't forget about them.</p>
        <hr>
        {% for crag in favourite_crags %}
        <h3> {{ crag.crag_name }} </h3>
        <p>
            <span>&#x2022;</span>
            {{ crag.crag_description }}
        </p>
        <p>
            Latitude: <b>{{ crag.latitude }}</b> <br>
            Longitude: <b>{{ crag.longitude }}</b> <br>
            Managed by: <b>{{ crag.manager }}</b> <br>
        </p>
        <form action="/crags/{{ crag.id }}" method="get">
            <button type="submit">Go to crag</button>
        </form>
        <hr> 
        {% endfor %}
    </div>
{% endblock %}
