{% extends "layout.html" %}

{% block title %}Home | Hyped - Log your sends and discover new projects{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to Hyped</h1>
        <p>You are logged in as {{ username }}</p>
        <form method="get" action="/search">
            <input type="text" name="query" placeholder="Search for crags or routes">
            <button class="form-btn" type="submit">Search</button>
        </form>
        <hr> 
        <h2>Latest sends</h2>
        <hr> 
        <p>
            {% for send in latest_sends %}
            <h3>
                {{ send.username }}&ensp;&ndash;&nbsp;
                <a href="/climbs/{{ send.id }}" class="understated-link">{{ send.climb_name }}</a>, {{ send.difficulty }}
                <a href="/crags/{{ send.crag_id}}" class="understated-link">({{ send.crag_name }})</a> / {{ send.climb_type}}
            </h3>
            <p>
                Send date: <b>{{ send.send_date }}</b><br>
                Send type: <b>{{ send.send_type }}</b><br>
                Rating: <b>{{ send.rating }}</b><br>
                Review: "{{ send.review }}"<br>
            </p>
            <hr> 
            {% endfor %}
            </p>
    </div>
{% endblock %}
