<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log your send | Hyped - Log your sends and discover new projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <header>
        <a href="/home"><img src="/static/Hyped_logo_w265x155.png" alt="Hyped Logo" class="logo"></a>
    </header>
    <div class="container">
        <h1>Log a send</h1>
        <h2>{{ climb_details.climb_name }}, {{ climb_details.difficulty }}</h2>
        <p>Congrats! Fill in the following fields to log your send and give your opinion on the climb.</p>
        <form action="/log-send/{{ climb_details.id }}" method="post">
            <label for="send_date">Date:</label>
            <input type="date" id="send_date" name="send_date" placeholder="2020-06-15">
            <label for="send_type">Send type:</label>
            <select id="send_type" name="send_type" required>
                <option value="" disabled selected>Select type</option>
                <option value="onsight">onsight</option>
                <option value="flash">flash</option>
                <option value="send">send</option>
            </select>
            <label for="review">Review:</label>
            <input type="text" id="review" name="review" maxlength="1000" placeholder="So how was it?" required>
            <label for="rating">Rating 0-3:</label>
            <input type="number" id="rating" name="rating" min="0" max="3" required>
            <input type="submit" value="Mark as sent">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
</body>
</html>
