{% extends "layout.html" %}

{% block title %}Logged sends | Hyped - Log your sends and discover new projects{% endblock %}

{% block content %}
    <div class="container">
        <h1>Logged sends</h1> 
        <h2 class="hidden">Tick-list</h2> <!-- Hidden heading to not skip a heading tag -->
        <p>Here are all your logged sends from latest to oldest. You go crusher!</p>
        <hr>
        {% for climb in sends %}
        <h3> {{ climb.climb_name }}, {{ climb.difficulty }} ({{ climb.crag_name }}) / {{ climb.climb_type }}</h3>
        <p>
            <span>&#x2022;</span>
            {{ climb.climb_description }}
        </p>
        <p>
            Send date: <b>{{ climb.send_date }}</b><br>
            Send type: <b>{{ climb.send_type }}</b><br>
            Rating: <b>{{ climb.rating }}</b><br>
            Review: "{{ climb.review }}"
        </p>
        <form action="/climbs/{{ climb.id }}" method="get">
            <button type="submit">Go to climb</button>
        </form>
        <hr> 
        {% endfor %}
    </div>
{% endblock %}
