<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged out | Hyped - Log your sends and discover new projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="sidebar">
        <a href="/home"><img src="/static/Hyped_logo_w265x155.png" alt="Hyped Logo" class="logo"></a>
    </div>
    <div class="container">
        <h3>You've successfully logged out</h3>
        <p>See you next time!</p>
        <p>Or go back to <a href="/index">login page</a>.</p>
    </div>
</body>
</html>