{% extends "layout.html" %}

{% block title %}Profile | Hyped - Log your sends and discover new projects{% endblock %}

{% block content %}
    <div class="container">
        <h1>Profile</h1>
        <hr>
        <h2>{{ user_info.username }}</h2>
        <hr>
        <p>
            Email: <b>{{ user_info.email}}</b><br>
            Joined: <b>{{ user_info.creation_date }} at {{ user_info.creation_time}}</b>
        </p>
        {% if admin %}
        <p>
            You are an administrator
        </p>
        {% endif %}
        <hr>
        <h2>Change your password</h2>
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
        <ul> 
            {% for category, message in messages %} 
            <li class="{{ category }}">{{ message }}</li> 
            {% endfor %} 
        </ul> 
        {% endif %} 
        {% endwith %}
        <form action="/profile" method="post">
            <label for="old_password">Old password:</label>
            <input 
                type="password" 
                id="old_password" 
                name="old_password" 
                pattern="^(?=.*\d)[a-zA-Z\d]{8,40}$"
                title="Password must be 8-40 characters long and contain at least one number."
                value="{{ old_password or ''}}"
                required>
            <label for="password1">New password:</label>
            <input 
                type="password" 
                id="password1" 
                name="password1" 
                pattern="^(?=.*\d)[a-zA-Z\d]{8,40}$"
                title="Password must be 8-40 characters long and contain at least one number."
                value="{{ password1 or ''}}"
                required>
            <label for="password2">New password again:</label>
            <input 
                type="password" 
                id="password2" 
                name="password2" 
                pattern="^(?=.*\d)[a-zA-Z\d]{8,40}$"
                title="Password must be 8-40 characters long and contain at least one number."
                value="{{ password2 or ''}}"
                required>
            <input type="submit" class="save" value="Change password">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

    </div>
{% endblock %}
