{% extends "layout.html" %}

{% block title %}Random crag and climb | Hyped - Log your sends and discover new projects{% endblock %}

{% block content %}
    <div class="container">
        <h1>Random crag and climb</h1>
        <p>Already climbed your projects or just plain bored? Here you go!</p>
        <form action="/random" method="get">
            <button class="btn-edit" type="submit">Get new ones</button>
        </form>
        <hr> 
        <h2>Crag</h2>
        <hr> 
        <h3>{{ crag_details.crag_name }}</h3> 
        <p>
            <span>&#x2022;</span>
            {{ crag_details.crag_description }}
        </p>
        <p>
            Latitude: <b>{{ crag_details.latitude }}</b><br>
            Longitude: <b>{{ crag_details.longitude }}</b><br>
            Managed by: <b>{{ crag_details.manager }}</b><br>
        </p>
        <form action="/crags/{{ crag_details.id }}" method="get">
            <button type="submit">Go to crag</button>
        </form>
        <hr> 
        <h2>Climb</h2>
        <hr> 
        <h3>{{ climb_details.climb_name }}, {{ climb_details.difficulty }}</h3> 
        <p>
            <span>&#x2022;</span>
            {{ climb_details.climb_description }}
        </p>
        <p>
            Crag: <b>{{ climb_details.crag_name }}</b><br>
            Type: <b>{{ climb_details.climb_type }}</b><br>
            First ascent: <b>{{ climb_details.first_ascent }}</b><br>
        </p>
        <form action="/climbs/{{ climb_details.id }}" method="get">
            <button type="submit">Go to climb</button>
        </form>
    </div>
{% endblock %}
