<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random crag and climb | Hyped - Log your sends and discover new projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="sidebar">
        <a href="/home"><img src="/static/Hyped_logo_w265x155.png" alt="Hyped Logo" class="logo"></a>
        <nav>
            <ul>
                <li><a href="/favourites">Favourite crags</a></li>
                <li><a href="/ticklist">Tick-list</a></li>
                <li><a href="/logged-sends">Logged sends</a></li>
            </ul>
            <br>
            <ul>
                <li><a href="/crags">Browse all crags</a></li>
                <li><a href="/climbs">Browse all climbs</a></li>
                <li><a href="/random">Random crag &amp; climb</a></li>
            </ul>
            <br>
            {% if admin %}
            <ul>
                <li><a href="/add-crag">Add crag</a></li>
                <li><a href="/add-climb">Add climb</a></li>
            </ul>
            <br>
            {% endif %}
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/thesaurus">Thesaurus</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h1>Random crag and climb</h1>
        <p>Already climbed your projects or just plain bored? Here you go!</p>
        <form action="/random" method="get">
            <button class="btn-edit" type="submit">Get new ones</button>
        </form>
        <hr> 
        <h2>Crag</h2>
        <hr> 
        <h3>{{ crag_details.crag_name }}</h3> 
        <p>
            <span>&#x2022;</span>
            {{ crag_details.crag_description }}
        </p>
        <p>
            Latitude: <b>{{ crag_details.latitude }}</b><br>
            Longitude: <b>{{ crag_details.longitude }}</b><br>
            Managed by: <b>{{ crag_details.manager }}</b><br>
        </p>
        <form action="/crags/{{ crag_details.id }}" method="get">
            <button type="submit">Go to crag</button>
        </form>
        <hr> 
        <h2>Climb</h2>
        <hr> 
        <h3>{{ climb_details.climb_name }}, {{ climb_details.difficulty }}</h3> 
        <p>
            <span>&#x2022;</span>
            {{ climb_details.climb_description }}
        </p>
        <p>
            Crag: <b>{{ climb_details.crag_name }}</b><br>
            Type: <b>{{ climb_details.climb_type }}</b><br>
            First ascent: <b>{{ climb_details.first_ascent }}</b><br>
        </p>
        <form action="/climbs/{{ climb_details.id }}" method="get">
            <button type="submit">Go to climb</button>
        </form>
    </div>
</body>
</html>