<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Hyped - Log your sends and discover new projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="sidebar">
        <a href="/home"><img src="/static/Hyped_logo_w265x155.png" alt="Hyped Logo" class="logo"></a>
    </div>
    <div class="container">
        <h1>Create a new account</h1>
        <h2>With an account you can...</h2>
        <ul>
            <li>browse crag information (Finland)</li>
            <li>browse climb information (Finland)</li>
            <li>save crags to favourites</li>
            <li>keep a logbook of your climbs and add comments for the whole community to see</li>
            <li>maintain a tick-list</li>
        </ul>
        <p>Fill in the following fields to register.</p>
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
        <ul> 
            {% for category, message in messages %} 
            <li class="{{ category }}">Error: {{ message }}</li> 
            {% endfor %} 
        </ul> 
        {% endif %} 
        {% endwith %}
        <form action="/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="email">Email:</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                pattern="[a-zA-Z0-9._+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,6}$" 
                title="Email must be of a valid format e.g. address@domain.com"
                required>
            <label for="password1">Password:</label>
            <input 
                type="password" 
                id="password1" 
                name="password1" 
                pattern="[a-zA-Z0-9._+\-]{8,30}$" 
                title="Password must be at least 8 characters long and contain at least one number."
                required>
            <label for="password2">Password again:</label>
            <input 
                type="password" 
                id="password2" 
                name="password2" 
                pattern="[a-zA-Z0-9._+\-]{8,30}$" 
                title="Password must be at least 8 characters long and contain at least one number."
                required>
            <input type="submit" value="Create account">
        </form>
    </div>
</body>
</html>
