{% extends "layout.html" %}

{% block title %}Search | Hyped - Log your sends and discover new projects{% endblock %}

{% block content %}
    <div class="container">
        <form method="get" action="/search">
            <input type="text" name="query" placeholder="New search">
            <button class="form-btn" type="submit">Search</button>
        </form>
        <h1>Search results for &quot;{{ search_terms }}&quot;</h1> <!-- Search terms of the previous search -->

        <h2>Results from crags</h2>
        <hr>
        {% for crag in crags_list %}
        <h3> {{ crag.crag_name }} </h3>
        <p>
            <span>&#x2022;</span>
            {{ crag.crag_description }}
        </p>
        <p>
            Latitude: <b>{{ crag.latitude }}</b><br>
            Longitude: <b>{{ crag.longitude }}</b><br>
            Managed by: <b>{{ crag.manager }}</b><br>
        </p>
        <form action="/crags/{{ crag.id }}" method="get">
            <button type="submit">Go to crag</button>
        </form>
        <hr> 
        {% endfor %}

        <h2>Results from climbs</h2>
        <hr>
        {% for climb in climbs_list %}
        <h3> {{ climb.climb_name }}, {{ climb.difficulty }} </h3>
        <p>
            <span>&#x2022;</span>
            {{ climb.climb_description }}
        </p>
        <p>
            Crag: <b>{{ climb.crag_name }}</b><br>
            Type: <b>{{ climb.climb_type }}</b><br>
            First ascent: <b>{{ climb.first_ascent }}</b><br>
        </p>
        <form action="/climbs/{{ climb.id }}" method="get">
            <button type="submit">Go to climb</button>
        </form>
        <hr> 
        {% endfor %}
    </div>
{% endblock %}
