<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | Hyped - Log your sends and discover new projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <header>
        <a href="/home"><img src="/static/Hyped_logo_w265x155.png" alt="Hyped Logo" class="logo"></a>
    </header>
    <div class="container">

        <form method="get" action="/search">
            <input type="text" name="query" placeholder="New search">
            <button type="submit">Search</button>
        </form>

        <h1>Search results for &quot;{{ search_terms }}&quot;</h1> <!-- Search terms of the previous search -->

        <h2>Results from crags</h2>
        <hr>
        {% for crag in crags_list %}
        <h3> {{ crag.crag_name }} </h3>
        <p>- {{ crag.crag_description }}</p>
        Latitude: <b>{{ crag.latitude }}</b> <br>
        Longitude: <b>{{ crag.longitude }}</b> <br>
        Created by: <b>{{ crag.created_by }}</b> <br>
        <a href="/crags/{{ crag.id }}">Go to crag</a>
        <hr> 
        {% endfor %}

        <h2>Results from climbs</h2>
        <hr>
        {% for climb in climbs_list %}
        <h3> {{ climb.climb_name }}, {{ climb.difficulty }} </h3>
        <p>- {{ climb.climb_description }}</p>
        Type: <b>{{ climb.climb_type }}</b> <br>
        Created by: <b>{{ climb.created_by }}</b> <br>
        <a href="/climbs/{{ climb.id }}">Go to climb</a>
        <hr> 
        {% endfor %}

    </div>
</body>
</html>